<div class="banner block company">
<div class="container">
<div class="wrapper text-center">
<h1>The SPIDR Team</h1>
<span>We are former police officers. We are veteran programmers.<br>
Most of all, we are an agile group of boots-on-the-ground specialists with a passion for building the next generation of law enforcement technology. If we're not in the office crunching code or in the field with officers, you may catch us at the range with our shooting team.
</span>
</div>
</div>
</div>

<div class="section1 block company">
<div class="container">
<div class="wrapper">
<div class="top text-center">
<h1>Are you interested in changing the future of law enforcement?</h1>
<p><a href="#">See Job Openings</a></p>
</div>
<div class="team text-center block">
<h2>Executive Team</h2>
<div class="col-sm-4">
<%= image_tag "rahul.png", class: "img-responsive" %>
<h4>Rahul Sidhu</h4>
<p> Chief Executive Officer</p>
</div>
<div class="col-sm-4">
<%= image_tag "img2.png", class: "img-responsive" %>
<h4>Kenaniah Cerny</h4>
<p>Chief Technology Officer</p>
</div>
<div class="col-sm-4">
<%= image_tag "img3.png", class: "img-responsive" %>
<h4>Elon Kaiserman</h4>
<p>Chief Technology Officer</p>
</div>
</div>
</div>
</div>
</div>

<div class="section2 block company">
<div class="container">
<div class="board text-center block">
<h2>Advisory Board</h2>
<div class="col-5">
<%= image_tag "img4.png", class: "img-responsive" %>
<h4>Bill Ryan</h4>
<p>Former CEO, FleetEyes</p>
</div>
<div class="col-5">
<%= image_tag "img5.png", class: "img-responsive" %>
<h4>Michael Schirling</h4>
<p>Former Chief,<br>
Burlington Police Department</p>
</div>
<div class="col-5">
<%= image_tag "img6.png", class: "img-responsive" %>
<h4>Carlos Solari</h4>
<p>Former CIO, White House</p>
</div>
<div class="col-5">
<%= image_tag "img7.png", class: "img-responsive" %>
<h4>Kevin Tapply</h4>
<p>Former VP,<br>
Motorola Public Safety Sales</p>
</div>
<div class="col-5">
<%= image_tag "img8.png", class: "img-responsive" %>
<h4>Bill Tatun</h4>
<p>Former FBI<br>
CJIS Board Member</p>
</div>
</div>
</div>
</div>

<div class="section2 block company">
<div class="container">
<div class="partner text-center block">
<h2>Partners</h2>
<div class="col-5">
<%= image_tag "img9.png", class: "img-responsive" %>
</div>
<div class="col-5">
<%= image_tag "img10.png", class: "img-responsive" %>
</div>
<div class="col-5">
<%= image_tag "img11.png", class: "img-responsive" %>
</div>
<div class="col-5">
<%= image_tag "img12.png", class: "img-responsive" %>
</div>
<div class="col-5">
<%= image_tag "img13.png", class: "img-responsive" %>
</div>
</div>
</div>
</div>

<div class="learn-more block">
<div class="container">
<h2>Learn more about SPIDR</h2>
<div class="block"><a href="#">Request Demo</a></div>
<ul>
<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Learn More About the Platform</a></li>
<li><a href="contact.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Contact Us</a></li>
</ul>
</div>
</div>
