<div class="banner block product">
<div class="container">
<div class="wrapper">
<%= image_tag "enga.png", class: "img-responsive" %>
<p>Start Engaging Your Community<br>
With Effective Relationship Management</p>
<a href="#">Learn More</a> <a href="assets/SPIDR_Product_Sketch.pdf" target="_blank">Download Product PDF</a>
</div>
</div>
</div>

<div class="product_white block">
<div class="container">
<div class="col-sm-6 forpc">
<%= image_tag "p1.jpg", class: "img-responsive" %>
</div>
<div class="col-sm-6">
<div class="top">
<h1>Start Engaging<br>
Your Community</h1>
<p><strong>Consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
<br><br>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>

<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Gather and share intelligence</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Dramaticaly improve community relations</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Deploy systems quickly and painlessly</li>
</ul>
</div>
</div>
<div class="col-sm-6 formob">
<%= image_tag "p1.jpg", class: "img-responsive" %>
</div>

</div>
</div>

<div class="product_white gray block">
<div class="container">

<div class="col-sm-6">
<div class="top">
<h1>Opportunity Indexing</h1>
<p><strong>Error</strong> in culpa qui officia deserunt mollit anim id est laborum. Quasi architecto beatae proin vitae dicta sunt explicabo. Phasellus volutpat sapien vel vehicula ullamcorper, sed faucibus elit lacus consequat.</p>

<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Gather and share intelligence</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Dramaticaly improve community relations</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Deploy systems quickly and painlessly</li>
</ul>
</div>
</div>
<div class="col-sm-6">
<%= image_tag "p2.jpg", class: "img-responsive" %>
</div>
</div>
</div>

<div class="product_white block">
<div class="container">
<div class="col-sm-6 forpc">
<%= image_tag "p3.jpg", class: "img-responsive" %>
</div>
<div class="col-sm-6">
<div class="top">
<h1>Generate and Send<br>
Reports Automatically</h1>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Totam rem aperiam, veritatis et quasi architecto beatae vitae dicta sunt explicabo.
<br><br>
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Gather and share intelligence</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Dramaticaly improve community relations</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Deploy systems quickly and painlessly</li>
</ul>
</div>
</div>
<div class="col-sm-6 formob">
<%= image_tag "p3.jpg", class: "img-responsive" %>
</div>
</div>
</div>

<div class="product_white gray block">
<div class="container">

<div class="col-sm-6">
<div class="top">
<h1>Create and Send<br>
Targeted Surveys</h1>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Totam rem aperiam, veritatis et quasi architecto.
<br><br>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Gather and share intelligence</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Dramaticaly improve community relations</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Deploy systems quickly and painlessly</li>
</ul>
</div>
</div>
<div class="col-sm-6">
<%= image_tag "p4.jpg", class: "img-responsive" %>
</div>
</div>
</div>

<div class="product_white block">
<div class="container">
<div class="col-sm-6 forpc">
<%= image_tag "p5.jpg", class: "img-responsive" %>
</div>
<div class="col-sm-6">
<div class="top">
<h1>Advanced Reporting</h1>
<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Gather and share intelligence</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Dramaticaly improve community relations</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Deploy systems quickly and painlessly</li>
</ul>
</div>
</div>
<div class="col-sm-6 formob">
<%= image_tag "p5.jpg", class: "img-responsive" %>
</div>
</div>
</div>

<div class="product_white gray block">
<div class="container">

<div class="col-sm-6">
<div class="top">
<h1>Messaging</h1>
<p><strong>Sed ut perspiciatis</strong> unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sunt in culpa qui officia deserunt mollit anim id est laborum. Quasi architecto beatae vitae dicta sunt explicabo. </p>
<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Gather and share intelligence</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Dramaticaly improve community relations</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Deploy systems quickly and painlessly</li>
</ul>
</div>
</div>
<div class="col-sm-6">
<%= image_tag "p4.jpg", class: "img-responsive" %>
</div>
</div>
</div>

<div class="threebox block">
<div class="container">
<div class="row">
<div class="col-sm-4"><div class="box">
<i class="fa fa-location-arrow top" aria-hidden="true"></i>
<h2>Deployment</h2>
<p><strong>Consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore. Minim veniam, quis nostrud aliquip ex. Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Measure real patrol proactivity</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Allow officers to attach photos	</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Share intelligence quickly</li>
</ul>
</div></div>
<div class="col-sm-4"><div class="box">
<i class="fa fa-graduation-cap top" aria-hidden="true"></i>
<h2>Training</h2>
<p><strong>Ut enim ad minim veniam,</strong> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Deserunt id est laborum. Totam rem aperiam, veritatis et quasi architecto beatae vitae dicta.</p>
<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Measure real patrol proactivity</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Allow officers to attach photos	</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Share intelligence quickly</li>
</ul>
</div></div>
<div class="col-sm-4"><div class="box">
<i class="fa fa-usd top" aria-hidden="true"></i>
<h2>Pricing and<br>
Maintenance</h2>
<p><strong>Excepteur</strong> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed sit voluptatem. Accusantium doloremque laudantium, architecto beatae perspiciatis unde omnis iste.</p>
<ul>
<li><i class="fa fa-check" aria-hidden="true"></i> Measure real patrol proactivity</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Allow officers to attach photos	</li>
<li><i class="fa fa-check" aria-hidden="true"></i> Share intelligence quickly</li>
</ul>
</div></div>
</div>
</div>
</div>

<div class="policy block">
<div class="container">
<hr>
<div class="col-sm-6">
<div class="img"><%= image_tag "cjis.png", class: "img-responsive" %></div>
<div class="content">
<h2>CJIS Compliant</h2>
<p><strong>Quasi architecto</strong> beatae proin vitae dicta sunt sapien vel vehicula ullamcorper, elit lacus consequat.</p>
</div>
</div>
<div class="col-sm-6">
<div class="img"><%= image_tag "dollar.png", class: "img-responsive" %></div>
<div class="content">
<h2>Refund Policy</h2>
<p>Minim veniam, quis nostrud aliquip occaecat cupidatat non proident. Totam rem aperiam dolorem laudantium.</p>
</div>
</div>
</div>
</div>
